@import url('reset.css');


body{
    background-color: black;
    font-family: sans-serif;
    width: 100%;
}

* {
    font-family: sans-serif;
}

p , div{
    font-size: 20px;
    color: white;
}

h2 {
    color: #33A8DB;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6.08px;
    text-transform: uppercase;
}
.banner {
    height: 540px;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../images/banner.png');
    padding-top: 56px;
    border-bottom: 1px solid #33A8DB;
    text-align: center;
    padding-bottom: 75px;
}

.banner-content{
    text-align: center;
    margin: auto;
    color: white;
}

.banner-content h1 {
    color: #33A8DB;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 16px 0px;
}

.banner-content p {
   width: 510px;
   margin: auto;
   line-height: 1.2em;
}


.logo {
    width: 268px;
    height: 268px;
    margin: auto;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.40);

}

.logo img {
    width: 248px;
    height: 214px;
    padding: 27px 10px;
}

.banner button {
    width:  326px;
    display: inline-block;
    margin: 24px 0 ;
    color: #31A8DD;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 3.36px;
    border: 2px solid #3BA1CD;
    padding: 19px 0px;
    background-color: transparent;
    text-transform: uppercase;
}

.main-content{
    text-align: center;
}

.content-subject {
    margin: 118px auto 0px;
    padding-bottom: 125px;
    width: 100%;
    height: 325px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 1px solid #33A8DB;
}

.content-subject p, div{
    width: 800px;
    margin: 24px auto 0;
    font-size: 17px;
}

.content-subject div span{
    color: #31A8DD;
}


.content-subject div{
    width: 535px;
    margin: 24px auto;
    padding: 16px 0;
    border-radius: 57px;
    border: 1px solid #33A8DB;
    background: #252525;
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.40) inset;
}

.transforme-background {
    background-size: cover;
    background-image: url('../images/woman-code.png');
    background-attachment: fixed;
    padding: 200px;
    border-bottom: 1px solid #33A8DB;
}

.transforme-background p {
    max-width: 280px;
    height: 158px;
    text-align: left;
    color: #FFF;
    text-shadow: 3px 2px 0px #33A8DB;
    text-transform: lowercase;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.new-challenges {
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    border-bottom: 1px solid #33A8DB;
}

.new-challenges h2 {
    width: 800px;
    margin: auto;
}

.new-challenges p {
    width: 800px;
    margin: auto;
    text-align: center;
    font-size: 17px;
    padding-top: 40px;
}

footer {
    padding: 50px;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
}

footer p {
    font-size: 16px;
}

footer a {
    text-decoration: none;
}

a:visited {
    color: rgb(43, 188, 246);
}

footer img {
    width: 300px;
}