/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap'); */

* {
    font-family:monospace;
}

#tamanho {
    font-size: 25px;
}

#xx-small {
    font-size: xx-small;
}

#x-small {
    font-size: x-small;
}

#small {
    font-size: small;
}

#medium {
    font-size: medium;
}

#medium-italic {
    font-size: medium;
    font-style: italic;
}

#large {
    font-size: large;
}

#large-bold {
    font-size: large;
    font-weight: bold;
}

#x-large {
    font-size: x-large;
}

#x-large-italic-bold {
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
}

#xx-large {
    font-size: xx-large;
}

div {
    font-size: 20px;
}

div p {
    font-size: smaller; /* Menor relativo ao elemento pai ou referencia */
    font-size: larger; /* Maior relativo ao elemento pai ou referencia */
    font-weight: bolder;
}